
.App {

}
.AppWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.App > div {

}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

